<h5 class="text-center">Feel free to add more stuffs in your cart!</h5>
<div class="table table-striped" id="tblGrid">
  <div id="tblHead">
    <div class='row'>
      <div class="col-md-3">Selected items</div>
      <div class="col-md-3">Price</div>
      <div class="col-md-3">Quantity</div>
      <div class="col-md-3 text-right">Subtotal</div>
    </div>
  </div>
  <div>
    <% binding.pry %>
    <% cart[:items].each do |item| %>
    <%= render partial: "cart/item", locals: {item: item} %>
    <%end%>
  </div>



  <div class=row>
    <div class='col-md-12'>
      <h3 style='text-align: right; font-weight: bold;'>
        Total Price

        <br><%= number_to_currency(cart[:total_price], :unit => 'RM') %>
      </h3>
    </div>
  </div>


</div>
