<h5 class="text-center">Feel free to add more stuffs in your cart!</h5>
<div class="table table-striped" id="tblGrid">
  <div id="tblHead">
    <div class='row'>
      <div class="col-md-3">Selected items</div>
      <div class="col-md-3">Price</div>
      <div class="col-md-3">Quantity</div>
      <div class="col-md-3 text-right">Subtotal</div>
    </div>
  </div>
  <div>
    <% cart[:items].each do |item| %>
    <%= render partial: "cart/item", locals: {item: item} %>
    <%end%>
  </div>

  <form>

	<div class="form-group"> <!-- Full Name -->
		<label for="full_name_id" class="control-label">Full Name</label>
		<input type="text" class="form-control" id="full_name_id" name="full_name" placeholder="I am MC Hammer">
	</div>

	<div class="form-group"> <!-- Street 1 -->
		<label for="street1_id" class="control-label">Street Address 1</label>
		<input type="text" class="form-control" id="street1_id" name="street1" placeholder="Street address, P.O. box, company name, c/o">
	</div>

	<div class="form-group"> <!-- Street 2 -->
		<label for="street2_id" class="control-label">Street Address 2</label>
		<input type="text" class="form-control" id="street2_id" name="street2" placeholder="Apartment, suite, unit, building, floor, etc.">
	</div>

	<div class="form-group"> <!-- City-->
		<label for="city_id" class="control-label">City</label>
		<input type="text" class="form-control" id="city_id" name="city" placeholder="Smallville">
	</div>

	<div class="form-group"> <!-- State Button -->
		<label for="state_id" class="control-label">State</label>
		<select class="form-control" id="state_id">
        <option value="WY">Penang</option>
        <option value="WY">Sabah</option>
        <option value="WY">Sarawak</option>
        <option value="WY">Selangor</option>
        <option value="WY">Johor</option>
        <option value="TX">Malacca</option>
        <option value="UT">Perak</option>
        <option value="VT">Kedah</option>
        <option value="VA">Terengganu</option>
        <option value="WA">Pahang</option>
        <option value="WV">Kelantan</option>
        <option value="WI">Negeri Sembilan</option>
        <option value="WY">Perlis</option>
		</select>
	</div>

	<div class="form-group"> <!-- Zip Code-->
		<label for="zip_id" class="control-label">Zip Code</label>
		<input type="text" class="form-control" id="zip_id" name="zip" placeholder="#####">
	</div>

	<div class="form-group"> <!-- Submit Button -->
		<button type="submit" class="btn btn-primary">Buy!</button>
	</div>

</form>

  <div class=row>
    <div class='col-md-12'>
      <h3 style='text-align: right; font-weight: bold;'>
        Total Price

        <br><%= number_to_currency(cart[:total_price], :unit => 'RM') %>
      </h3>
    </div>
  </div>
</div>
