<div class="modal fade-modal-lg" id="cartmodal-modal-lg">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title">Your Cart</h3>
      </div>

      <div class="modal-body" id="cart-container">
         <%= render partial: "cart/modalbody", locals: { cart: carts_hash } %>
      </div>


        <form>

      	<div class="form-group"> <!-- Full Name -->
      		<label for="full_name_id" class="control-label">Full Name</label>
      		<input type="text" class="form-control" id="full_name_id" name="full_name" placeholder="I am MC Hammer">
      	</div>

      	<div class="form-group"> <!-- Street 1 -->
      		<label for="street1_id" class="control-label">Street Address 1</label>
      		<input type="text" class="form-control" id="street1_id" name="street1" placeholder="Street address, P.O. box, company name, c/o">
      	</div>

      	<div class="form-group"> <!-- Street 2 -->
      		<label for="street2_id" class="control-label">Street Address 2</label>
      		<input type="text" class="form-control" id="street2_id" name="street2" placeholder="Apartment, suite, unit, building, floor, etc.">
      	</div>

      	<div class="form-group"> <!-- City-->
      		<label for="city_id" class="control-label">City</label>
      		<input type="text" class="form-control" id="city_id" name="city" placeholder="Smallville">
      	</div>

      	<div class="form-group"> <!-- State Button -->
      		<label for="state_id" class="control-label">State</label>
      		<select class="form-control" id="state_id">
              <option value="WY">Penang</option>
              <option value="WY">Sabah</option>
              <option value="WY">Sarawak</option>
              <option value="WY">Selangor</option>
              <option value="WY">Johor</option>
              <option value="TX">Malacca</option>
              <option value="UT">Perak</option>
              <option value="VT">Kedah</option>
              <option value="VA">Terengganu</option>
              <option value="WA">Pahang</option>
              <option value="WV">Kelantan</option>
              <option value="WI">Negeri Sembilan</option>
              <option value="WY">Perlis</option>
      		</select>
      	</div>

      	<div class="form-group"> <!-- Zip Code-->
      		<label for="zip_id" class="control-label">Zip Code</label>
      		<input type="text" class="form-control" id="zip_id" name="zip" placeholder="#####">
      	</div>


      </form>


      <div class="modal-footer">
        <button type="button" class="btn btn-default " data-dismiss="modal">Close</button>

          <%= link_to "BILLPLZ", billplz_path, method: :post, class: "btn btn-primary" %>
          <%= link_to "VISA/Mastercard", new_order_path, class: "btn btn-success" %>

      </div>

    </div>
  </div>
</div>
