.landing {

/*    // .background {
  //     /*background-image: url("https://hd.unsplash.com/photo-1471623817296-aa07ae5c9f47");*/
  //     background-color: aquamarine;
  //     height: calc(100vh - 302px);
  //     width: 100%;
  //     background-position: 50% 50%;
  //     background-repeat: no-repeat;
  //     background-size: cover;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  // }*/

  hr {
      display: block;
      margin-top: 0.5em;
      margin-bottom: 0.5em;
      margin-left: auto;
      margin-right: auto;
      border-style: inset;
      border-width: 1px;
  }

  .short-underline {
    width: 50px;
    border-bottom: 2px solid orange;
  }

  .carousel-inner  {
    max-width: auto;
    max-height: 550px;
    margin: auto;
    background-color: salmon;
  }

  .carousel-caption{
    bottom: 0px;
    top: 20px;
    color: black;

  }

  .gridphotos-class {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
 margin: 50px auto;
 justify-content: space-around;

  }

  .photosbox{
    flex: 0 0 300px;
    margin: 0 0;
    position: relative;
  }

  .photosbox:hover .invisible-layout {
    opacity: 1;
    transition: all 0.3s ease-in-out;
  }

  .invisible-layout {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
  }

  .img_content {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      background-color: black;
      opacity: 0.8;
      color: white
    }
    .img-thumbnail {
      height:200px;
    }

    @media all and (max-width: 1199px) {
        .features {
          max-width: 600px;
        }
    }



}
