<!-- <section class="video">
    <video id="my-video" preload="metadata" autoplay loop>
        <source src="landingvideo.webm" type="video/webm">
    </video>

    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="backgroundVideo.js"></script>
<script>
    $(document).ready(function() {
        $(element).backgroundVideo();
    });
</script>
</section> -->
<div class="landing">
  <div class="background">
    <div class="content">
      <h1> Welcome to The Structure Co </h1>
    </div>
  </div>

  <div class="structuredescript text-center">
    <h1>SHOP LIKE YOUR MOM</h1>
    <br>
    <h5>Being successful isn't about being perfect. It's about having the right tools. And, no matter what your goals, if you like to use pen and paper, then we have you covered.</h5>

  <hr>

  <div class="featured">
    <h1>FEATURED PRODUCTS</h1>
    <%= video_tag "landingvideo.webm", autoplay: true, loop: loop %>
    <h3>Some button to link</h3>
</div>

<div class="row">
  <div class="col-xs-6">
  testing
  </div>
  <div class="col-xs-6">
  testing
  </div>
</div>