<footer class="footer-distributed">

  <div class="footer-left">

    <h3>Structure.co</h3>

    <p class="footer-links">
      <li><a href="/about">About Us<span class="sr-only">(current)</span></a></li>
      <li><a href="/faq">FAQ<span class="sr-only">(current)</span></a></li>
      <li><a href="/">Home</a></li>
      <!-- ·
      <a href="#">Blog</a>
      ·
      <a href="#">Pricing</a>
      ·
      <a href="#">About</a>
      ·
      <a href="#">Faq</a>
      ·
      <a href="#">Contact</a> -->
    </p>

    <p class="footer-company-name">Structure.co &copy; 2015</p>
  </div>

  <div class="footer-center">

    <div>
      <i class="fa fa-map-marker"></i>
      <p><span>Cyberjaya Magic</span> Malaysia</p>
    </div>

    <div>
      <i class="fa fa-phone"></i>
      <p>+6012345678</p>
    </div>

    <div>
      <i class="fa fa-envelope"></i>
      <p><a href="mailto:support@company.com">support@structure.com</a></p>
    </div>

  </div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>About the company</span>
      Hello

    <div class="footer-icons">

      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-pinterest"></i></a>

    </div>

  </div>

</footer>
