<div class="row">
  <div class="col-xs-6">
  testing
  </div>
  <div class="col-xs-6">
    testing
  </div>
</div>











<!-- <section class="main">

      <div class="about-intro">
        <div class="col-xs-6">
          <div class="half-image">
          <%= image_tag "founderprofile.jpg", class: "image-profile" %>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="half-content">
            <h2 class="title-content">
              Hi. I'm MC LEE.
            </h2>
            <hr>
            <p class="description-content">
              "I created Ink & Volt to help you be more successful in your work and life.
               From the products to the advice in our journal everything is selected to help you get closer to your goals."
            </p>
          </div>
        </div>
      </div>
</section> -->

<!-- <section class="content-story text-center">
  <p class="story-head">
    “Ink and Volt is a community. It is about ideas and success. My goal when I started it was to carry my favorite products and tools that
    would help you get one step closer to your dreams.” -Kate
  </p>

  <p class="story-body text-center">
    This space and community started with an idea: the Spark Notebook. The Spark Notebook started as the brainchild of Kate Matsudaira, a technology executive and startup founder, who has been on the quest for the perfect notebook for more than 10 years.
Hoping to combine the function of a life planner into the sleek design of a basic, modern notebook, she embarked on a journey to build the perfect notebook herself in the fall of 2014.
She interviewed dozens of fellow notebook lovers, from executives and engineers to authors and artists, and began working with a talented design team to bring the perfect notebook to life.
In November 2014, she launched a Kickstarter project so that she could produce enough notebooks to break even on the sizable cost of printing. Her goal was to raise $14,000; by the end of the campaign, she had raised $138,572.
Then with feedback from the community we launched a second Kickstarter in 2015 for the planner version of the notebook and that one raised $460,602.
Clearly, this idea had hit a nerve.
  </p>

</section> -->
