<h5>
  Q: What is GuguBird.com?

A: GuguBird.com is a membership club online shopping platform specialising in high quality, competitively priced baby products. It is operated by GGB Commerce Sdn Bhd (1164794-M). You may contact us at

Facebook Messenger: www.facebook.com/GuguBirdCom

Email: hello@gugubird.com or,

Customer Service Line:  018 - 6679 660.



Q: Where are you located at?

A: Our office & warehouse is located at Jalan 19/1b, Seksyen 19, 46300 Petaling Jaya, Selangor, Malaysia.





</h5>
