<h5>
  Q: What is GuguBird.com?

A: GuguBird.com is a membership club online shopping platform specialising in high quality, competitively priced baby products. It is operated by GGB Commerce Sdn Bhd (1164794-M). You may contact us at

Facebook Messenger: www.facebook.com/GuguBirdCom

Email: hello@gugubird.com or,

Customer Service Line:  018 - 6679 660.



Q: Where are you located at?

A: Our office & warehouse is located at Jalan 19/1b, Seksyen 19, 46300 Petaling Jaya, Selangor, Malaysia.



Q: Can I buy directly at your warehouse?

A: Currently our warehouse is not open to public yet. All orders have to be made on www.GuguBird.com.



Q: Do I have to become a registered member of GuguBird.com to shop?

A: Yes. In order to shop at GuguBird.com, you must be a registered member.


Q: How much is a membership?

A: We have different membership plan for you and you get to enjoy all wholesale savings on GuguBird.com with 1 x Free Shipping!

Check membership plans here: >> http://bit.ly/MembershipGGB



Q: How long is my membership for?

A: Membership is on a monthly recurring basis.



Q: How does the membership system work?

A: Please purchase membership plan here ( http://bit.ly/MembershipGGB ) and make payment, then re-log in again and now everything you added to cart will be member price!



Q: How do I claim free shipping voucher?

A: Please log in to your account, and click on 'MEMBER's FREE SHIPPING' tab on bottom left of page, and redeem the 400 points for free shipping voucher code.



Q: I forgot my username and password. What should I do?

A: Click here to go to your Account Login page. Click on Forgot Password and input the email you registered with.  An email with instructions to reset your password will be sent to you promptly.



Q: I can't register as a member. Please help me.

A: Please ensure that you have filled all details in correctly. If you are still not able to register as a member, kindly contact our Customer Service.





Products

Q: Is there a limit to the quantity I can purchase?

A: Yes, as we are trying to to encourage the fair usage and protect the interest of all GuguBird.com members. Maximum of 3 units per item is allowed for every transaction, and maximum of RM400 is allowed for every transaction. Also, the quantity limit depends on the current stock availability. We will refund for any out of stock items.



Q: I can't find the products that I want. Where did they go?

A: We may change our product selections from time to time. Because of this, you may not be able to find some products. Please contact our Customer Service for more information regarding availability.


Q: When will I receive my products?

A: Most orders are delivered within 2 - 5 standard business days. You can check the shipping date on the Checkout Page. However, certain products are not in ready stock, and will only shipped within 14 working day(s). Additional remarks are made in the product description.

Q: How much is shipping?

A: Please see our Shipping Policy.



Placing an Order

Q: How do I place an order?

A: When you find the product you like, click on Buy Now to add the product to your cart. Verify and finalize your order at the Checkout page.


Q: There are some products in my shopping cart from my previous incomplete purchase. How do I remove them?

A: View your shopping cart and click on Remove.


Q: I have added products to the shopping cart. Can I change the quantity ordered?

A: Yes, you can. In the Shopping Cart page, just change the quantity and click Update.


Q: Will I receive an order confirmation?

A: Yes. You will receive an email from us once your purchase is confirmed.


Q: Is there a fee if I want to cancel my order?

A: No. However, if the product has already been shipped out, we will have to charge you the delivery fee to retrieve the package.


Q: I'm not staying in Malaysia. Can I place an order?

A: Yes, as long as the product delivery address is in Malaysia. We currently only ship to West Malaysia.


Q: I buy my baby products regularly. Can I make a repeat order?

A: You can reorder your products by viewing your Order History. Reorders are subject to product availability.





Making a Payment

Q: How can I pay for the products?

A: We are currently accepting payments from Online Banking & Credit Cards including payments method like VISA, MasterCard.


Q: Can I track my delivery?

A: For every order, GuguBird.com will provide a tracking number that you can use to track your delivery with the courier company.

Exchanges and Returns

Q: Can I exchange or return the products that I received?

A:  Please see our Return Policy.





Website

Q: What information is collected from me when I am using this website?

A: Please refer to our Privacy Policy



Q: Is it safe to make purchases through GuguBird.com?

A: Yes, GuguBird.com uses a 256-bit SSL certificate to ensure complete customer protection and privacy at all times.


Q: Is Gugubird.com compatible with my browser?

A: Gugubird.com is compatible with Internet Explorer (IE 8+), Firefox, Google Chrome and Safari. It is also mobile compatible on Android, Apple, and Windows devices.


Q: How can I share my feedback or inquiries?

A: You may contact Customer Service directly at +6018 - 6679 660 or through email at hello@gugubird.com.

</h5>
